/* Title Section */

#title {

    background-color: #ff4c68;
    position: relative;
    z-index: 0;

}

.navbar-brand {

    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;



}

.dog-iphone {

    height: 600px;
    transform: rotate(25deg);
    position: relative;
    left: 5%;
    z-index: 0; 

}


/* General body Section */

body {


    font-family: 'Montserrat', sans-serif;
}

h1 {

    color: white;
    font-weight: 800;
    line-height: 1.5;
    size: 4rem;
    padding-top: 40px;


}


h2 {

    font-weight: 700;
    line-height: 3.5rem;
   

}

h3 {


    font-weight: 700;
    size: 1.5rem;
    
 
}

.h-spacing {

    margin-top: 70px;




}

p {

    color: #8f8f8f;
    display: inline-block;



}

/* Feature Section */

#features {

    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 15%;
    margin: -150px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    


}

.navbar {

    padding-bottom: 4rem;


}

.container-fluid {

    padding: 3% 15%;


}


.btn-secondary {

    background-color: #ff4c68;



}

.btn-secondary,
.btn-primary {


    margin-top: 40px;
    margin-right: 5px;
    margin-bottom: 50px;
}


.nav-link {

    margin-left: 30px;

}


.feature-icons {

    color: #ef8172;
    position: relative;
    display: block;
    margin-bottom: 50px;



}


.feature-icons:hover {

color: #FF4C68;

}


.feature-box {

    padding-bottom: 1rem;
    padding: 5%;
 


}


/* Testimonials Section */

#testimonials {

    background-color: #ff4c68;  
    color: white;    
    font-family: 'Montserrat', sans-serif;
    text-align: center;


    



}

.testimonial-image {

width: 15%;
border-radius: 100%;
margin: 20px;

}


.carousel-item {

    padding: 7% 15%;
    margin-top: 80px;


}

.carousel-control {

    margin-top: 250px;



}

#press {


    background-color: #ff4c68;  
    text-align: center;
    padding-bottom: 3%;

}

.press-logo {

    width: 15%;
    margin: 10px 20px 60px 20px;


}


/* subscription options Section */

#pricing {
    padding-top: -20px;
    text-align: center;

}

.subscript-btn {

    width: 90%;
    margin: 5%;


}


.card-col {

    padding: 3% 2%;

}

@media (max-width: 993px) {


    #title {

        text-align: center;


    }

    .dog-iphone {

        position: static;
        transform: rotate(0deg);


    }
    
}


/* cta Section */


#cta {

   
   color: white;
   text-align: center;
   Padding: 150px;
   margin-bottom: 0px;
   overflow:auto;
   background-color: #ff4c68; 
 



}


.cta-text {

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding: 8% 15%;

 
}


.endbtns {
   
    margin-left: 30px;


}


/* footer Section */

#footer {

    color: #fff;
    padding: 8%;
    text-align: center;



}

.footer-icons {


color: black;
text-align: center;
margin: 20px 10px;



}